<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form method="post" action="/todo?kunci=1234">
      <input type="text" name="item" />
      <input type="text" name="nama" />
      <input type="submit" value="Add" />
    </form>
  </body>
</html>
